{% assign included_post = include.post %}
<nav class="internal-blogcard">
    <a href="{{ included_post.url | relative_url }}">
        <p class="internal-blogcard-title">{{ included_post.title | default: "無題" }}</p>
        <!-- <p class="internal-blogcard-date">{{ included_post.date | date: "%Y-%m-%d" }}</p> -->
        <p class="internal-blogcard-description">
            {% assign description = included_post.description | default: included_post.content | strip_html | truncate: 150, "" %}
            {{ description | default: "" }}
        </p>
        <p class="internal-blogcard-readmore">
            <span class="internal-blogcard-readmore-title">続きを読む</span>
            <i class="fa-solid fa-angles-right"></i>
        </p>
    </a>
</nav>