{% assign url_parts = page.url | split: '/' %}
{% assign url_parts = url_parts | compact %}
{% assign url_parts_depth = url_parts | size %}
{% assign url_parts_depth = url_parts_depth | minus:1 %}
{% assign current_url = '/' %}
<nav class="breadcrumb" aria-label="パンくずリスト">
    <ol>
        <li class="breadcrumb-item">
            <a href="{{ '/' | relative_url }}">
                <i class="fas fa-home"></i>ホーム
            </a>
        </li>
        {% for i in (1..url_parts_depth) %}
            {% assign current_slug =  url_parts[i] %}
            {% assign current_url =  current_url | append: current_slug | append: '/' %}

            {% if i != url_parts_depth %}
                <li class="breadcrumb-item">
                    <a href="{{ current_url | relative_url }}">
                        <i class="fas fa-folder"></i>{{ site.data.slugs[current_slug].name }}
                    </a>
                </li>
            {% else %}
                <li class="breadcrumb-item active" aria-current="page">
                    <a href="{{ current_url | relative_url }}">
                        {% if page.category %}
                            <i class="fas fa-folder"></i>{{ site.data.slugs[current_slug].name }}
                        {% else %}
                            <i class="fas fa-file"></i>{{ page.title | default: "無題"}}
                        {% endif %}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</nav>

{% comment %}
{% assign breadcrumbs = "" %}
<nav class="breadcrumb" aria-label="パンくずリスト">
    <ol>
        <li class="breadcrumb-item">
            <a href="{{ '/' | relative_url }}">
                <i class="fas fa-home"></i>ホーム
            </a>
        </li>
        {% for part in url_parts %}
            {% if part != "" and part != url_parts.last %}
                {% assign breadcrumbs = breadcrumbs | append: "/" | append: part %}
                {% assign tag = site.data.slugs[part] %}
                <li class="breadcrumb-item">
                    <a href="{{ breadcrumbs | relative_url }}">
                        <i class="fas fa-folder"></i>{{ tag.name | default: part }}
                    </a>
                </li>
            {% elsif part == url_parts.last %}
                {% assign breadcrumbs = breadcrumbs | append: "/" | append: part %}
                {% if page.category %}
                    <li class="breadcrumb-item">
                        <a href="{{ breadcrumbs | relative_url }}">
                            <i class="fas fa-folder"></i>{{ site.data.slugs[page.category].name }}の記事一覧
                        </a>
                    </li>
                {% else %}
                    <li class="breadcrumb-item active" aria-current="page">
                        <i class="fas fa-file"></i>{{ page.title | default: "無題"}}
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ol>
</nav>
{% endcomment %}