<nav class="breadcrumb" aria-label="パンくずリスト">
    <ol>
        <li class="breadcrumb-item"><a href="{{ '/' | relative_url }}"><i class="fas fa-home"></i>ホーム</a></li>
        <li class="breadcrumb-item"><a href="{{ '/カテゴリ/' | relative_url }}"><i class="fas fa-folder"></i>カテゴリ</a></li>
        <li class="breadcrumb-item"><a href="{{ '/カテゴリ/サブカテゴリ/' | relative_url }}"><i class="fas fa-folder"></i>サブカテゴリ</a></li>
        <li class="breadcrumb-item active" aria-current="page"><a href="{{ page.url | replace:'index.html','' | absolute_url }}"><i class="fas fa-file"></i>現在のページ</a></li>
    </ol>
</nav>
