<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    {% if page.title %}
        {{ page.title }} - {{ site.title }}
    {% elsif page.category %}
        {{ site.data.slugs[page.category] }}の記事一覧 - {{ site.title }}
    {% elsif page.tag %}
        {{ site.data.slugs[page.tag] }}の記事一覧 - {{ site.title }}
    {% else %}
        {{ site.title }}
    {% endif %}
</title>
<meta name="format-detection" content="telephone=no">
<!-- ファビコン -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
<link rel="manifest" href="{{ '/assets/icons/manifest.json' | relative_url }}">
<link rel="mask-icon" href="{{ '/assets/icons/safari-pinned-tab.svg' | relative_url }}" color="#3498db">
<meta name="msapplication-TileColor" content="#3498db">
<meta name="theme-color" content="#3498db">
<!-- css & js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="preload" href="{{ '/assets/css/styles.css' | relative_url }}" as="style">
<link rel="stylesheet" href="{{ '/assets/css/styles.css' | relative_url }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
