<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta name="description" content="{{ page.description | default: site.description }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}">
    <meta property="og:description" content="{{ page.description | default: site.description }}">
    <meta property="og:image" content="https://example.com/og-image.jpg">
    <meta property="og:url" content="https://example.com/current-page">
    <meta property="og:type" content="article">
    <meta name="twitter:card" content="summary_large_image">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <!-- ファビコン -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/icons/apple-touch-icon.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/assets/icons/favicon-32x32.png' | relative_url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/assets/icons/favicon-16x16.png' | relative_url }}">
    <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
    <link rel="mask-icon" href="{{ '/assets/icons/safari-pinned-tab.svg' | relative_url }}" color="#3498db">
    <meta name="msapplication-TileColor" content="#3498db">
    <meta name="theme-color" content="#3498db">
    <!-- css & js -->
    <!-- <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"> -->
    <link rel="preload" href="https://mimneko.github.io/mimneko-note/sample/styles.css" as="style">
    <link rel="stylesheet" href="https://mimneko.github.io/mimneko-note/sample/styles.css"><!-- {{ '/assets/css/style.css' | relative_url }} -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebPage",
        "headline": "{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}",
        "description": "{{ page.description | default: site.description }}",
        "datePublished": "2024-06-07",
        {% if post.last_modified_at %}
        "dateModified": "{{ page.last_modified_at | date: "%Y-%m-%d" }}",
        {% endif %}
        "url": "{{ '/' | relative_url }}",
        "publisher": {
            "@type": "Organization",
            "name": "{{ site.title }}",
            "logo": {
                "@type": "ImageObject",
                "url": "{{ '/assets/icons/mimneko-note-icon.png' | relative_url }}"
            }
        },
        "breadcrumb": {
            "@type": "BreadcrumbList",
            "itemListElement": [
            {
                "@type": "ListItem",
                "position": 1,
                "name": "ホーム",
                "item": "{{ '/' | relative_url }}"
            },
            {
                "@type": "ListItem",
                "position": 2,
                "name": "カテゴリ",
                "item": "{{ '/カテゴリ/' | relative_url }}"
            },
            {
                "@type": "ListItem",
                "position": 3,
                "name": "サブカテゴリ",
                "item": "{{ '/カテゴリ/サブカテゴリ/' | relative_url }}"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "name": "現在のページ",
                "item": "https://example.com/current-page"
            }
            ]
        }
    }
    </script>
</head>
