<!--
<aside id="sidebar">
    <section class="widget">
        <h2>最新の投稿</h2>
        <ul>
            <li><a href="#">記事1のタイトル</a></li>
            <li><a href="#">記事2のタイトル</a></li>
            <li><a href="#">記事3のタイトル</a></li>
        </ul>
    </section>
    
    <section class="widget">
        <h2>カテゴリ<span class="fa fa-folder"></span></h2>
        <ul>
            <li><a href="#">カテゴリ1</a></li>
            <li><a href="#">カテゴリ2</a></li>
            <li><a href="#">カテゴリ3</a></li>
            <li><a href="#">カテゴリ4</a></li>
        </ul>
    </section>
    
    <section class="widget">
        <h2>タグ<span class="fa fa-tag"></span></h2>
        <div class="tag-cloud">
            <a href="#" class="tag-1">タグ1</a>
            <a href="#" class="tag-2">タグ2</a>
            <a href="#" class="tag-3">タグ3</a>
            <a href="#" class="tag-1">タグ4</a>
            <a href="#" class="tag-2">タグ5</a>
        </div>
    </section>
</aside>
-->