
$color-main: #0099ce;
$color-main-pale: #cce4ff;
$color-white: #fcfcfc;
$color-gray: #808080;
$color-black: #222;
$color-toc: #f4f4f4;

$border: 1px solid #ccc;
$container-width: 784px;
$font-color: $color-black;
$font-color-a: rgb(47, 135, 167);
$font-color-a-hover: lighten($font-color-a, 15%);