/* -----------------------------------------
  数式のスクロールバー
----------------------------------------- */
.MathJax {
  padding-bottom: 5px;
  /*overflow-x: auto;*/
  overflow-x: visible;
  overflow-y: hidden;
}/*
.MathJax::-webkit-scrollbar-track {
  background-color: transparent;
}*/

/* -----------------------------------------
  証明
----------------------------------------- */
.shomei-box {
  margin: 0 .5rem;
  padding: 1px 1rem;
  border-left: 2px dotted var(--color-main);
  border-right: 2px dotted var(--color-main);
}
.shomei-box p {
  padding: 0;
  margin: 1rem 0;
}
.shomei-box .shomei-title {
  font-weight: bold;
}
.shomei-box .shomei-qed {
  text-align: right;
}
