---
layout: default
---

<article>
  <div class="article-header">
      <h1 id="article-title">{{ page.title }}</h1>
      <div id="article-meta">
          <span id="written-date"><i class="fas fa-pen"></i><span>{{ page.date | date: "%Y-%m-%d" }}</span></span>
          {% if page.last_modified_at %}
          <span id="updated-date"><i class="fas fa-sync-alt fa-flip-horizontal"></i><span>{{ page.last_modified_at | date: "%Y-%m-%d" }}</span></span>
          {% endif %}
          <span id="article-author"><i class="fas fa-user"></i><span>{{ page.author }}</span></span>
      </div>
  </div>

  <div class="article-body">
      {% if page.toc %}
      <div id="toc">
          <p id="toc-title">目次</p>
          {% toc %}
      </div>
      {% endif %}
      
      {{ content }}
  </div>

</article>