---
layout: default
---
{% include breadcrumb.html %}

<article>
    <div class="article-header">
        <h1 id="article-title">{{ page.title }}</h1>
        <div id="article-meta">
            <span id="written-date"><i class="fas fa-pen"></i><span>{{ page.date | date: "%Y-%m-%d" }}</span></span>
            {% if page.last_modified_at %}
            <span id="updated-date"><i class="fas fa-sync-alt fa-flip-horizontal"></i><span>{{ page.last_modified_at | date: "%Y-%m-%d" }}</span></span>
            {% endif %}
            <span id="article-author"><i class="fas fa-user"></i><span>{{ page.author }}</span></span>
        </div>
    </div>

    <div class="article-body">
        {% toc %}
        <p>-----------------------------------------------------</p>
        {% assign toc_present = page.content contains "<h2" %}
        {% if toc_present %}
        <div id="toc">
            <p id="toc-title">目次</p>
            {% toc %}
        </div>
        {% endif %}

        
        {{ content }}
    </div>

    <div class="article-footer">
        <div class="article-categories-tags">
            {% for tag in page.tags %}
            <div class="article-tags">
                <a class="tag-link" href="{{ site.baseurl }}/tags#{{ tag | slugify }}"><span class="fa fa-tag"></span>{{ tag }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</article>

<nav class="pager">
    {% if page.previous %}
      {% assign previous_url_relative = page.previous.url | relative_url %}
      {% assign previous_url_full = site.url | append: previous_url_relative %}
      <p class="prev-article"><a href="{{ previous_url_full }}"><i class="fas fa-chevron-left"></i>{{ page.previous.title }}</a></p>
    {% endif %}
    {% if page.next %}
      {% assign next_url_relative = page.next.url | relative_url %}
      {% assign next_url_full = site.url | append: next_url_relative %}
      <p class="next-article"><a href="{{ next_url_full }}">{{ page.next.title }}<i class="fas fa-chevron-right"></i></a></p>
    {% endif %}
    <!--
    <p>{{ page.previous.url | relative_url }}</p>
    <p>{{ page.next.url | relative_url }}</p>
    <p>___</p>
    {% if page.previous %}
      {% assign previous_url_parts = page.previous.url | split: '/' %}
      {% assign full_previous_url = site.url | append: site.baseurl %}
      
      {% for part in previous_url_parts %}
        {% assign full_previous_url = full_previous_url | append: part | append: '/' %}
      {% endfor %}
      
      <p class="prev-article"><a href="{{ full_previous_url }}"><i class="fas fa-chevron-left"></i>{{ page.previous.title }}</a></p>
    {% endif %}

    {% if page.next %}
      {% assign next_url_parts = page.next.url | split: '/' %}
      {% assign full_next_url = site.url | append: site.baseurl %}
      
      {% for part in next_url_parts %}
        {% assign full_next_url = full_next_url | append: part | append: '/' %}
      {% endfor %}
      
      <p class="next-article"><a href="{{ full_next_url }}">{{ page.next.title }}<i class="fas fa-chevron-right"></i></a></p>
    {% endif %}
    -->
</nav>
