---
layout: default
---
{% include breadcrumb.html %}

<article>
    <div class="article-header">
        <h1 id="article-title">{{ page.title }}</h1>
        <div id="article-meta">
            <span id="written-date"><i class="fas fa-pen"></i><span>{{ page.date | date: "%Y-%m-%d" }}</span></span>
            {% if page.last_modified_at %}
            <span id="updated-date"><i class="fas fa-sync-alt fa-flip-horizontal"></i><span>{{ page.last_modified_at | date: "%Y-%m-%d" }}</span></span>
            {% endif %}
            <span id="article-author"><i class="fas fa-user"></i><span>{{ page.author }}</span></span>
        </div>
    </div>

    <div class="article-body">
        {% if page.toc %}
        <div id="toc">
            <p id="toc-title">目次</p>
            {% toc %}
        </div>
        {% endif %}
        
        {{ content }}
    </div>

    <div class="article-footer">
        <div class="article-categories-tags">
            {% for tag in page.tags %}
            <div class="article-tags">
                <a class="tag-link" href="{{ site.baseurl }}/tags#{{ tag | slugify }}"><span class="fa fa-tag"></span>{{ tag }}</a>
            </div>
            {% endfor %}
        </div>
    </div>

</article>

<nav class="pager">
    {% if page.previous.url %}
    <a class="prev-article" href="{{page.previous.url}}"><i class="fas fa-chevron-left"></i>{{ page.previous.title }}</a>
    {% endif %}
    {% if page.previous %}
        {% assign url_parts = page.previous.url | split: '/' %}
        {% assign new_url = url_parts[0] | append: site.base_url | append: '/' | append: url_parts[1] %}
        <a class="prev-article" href="{{ new_url }}">Previous Page</a>
    {% endif %}
    {% if page.next.url %}
    <a class="next-article" href="{{page.next.url}}">{{ page.next.title }}<i class="fas fa-chevron-right"></i></a>
    {% endif %}
</nav>
