---
layout: default
---

{% include breadcrumbs.html %}

<article>

    <div class="article-header">
        <h1 id="article-title">{{ page.title | default: "無題" }}</h1>
        <div id="article-meta">
            {% if page.date %}
            <span id="written-date"><i class="fas fa-pen"></i><span>{{ page.date | date: "%Y-%m-%d" }}</span></span>
            {% endif %}
            {% if page.last_modified_at %}
            <span id="updated-date"><i class="fas fa-sync-alt fa-flip-horizontal"></i><span>{{ page.last_modified_at | date: "%Y-%m-%d" }}</span></span>
            {% endif %}
            <span id="article-author"><i class="fas fa-user"></i><span>{{ page.author }}</span></span>
        </div>
        
        <!-- シリーズ名 -->
        {% assign current_series = page.series %}
        {% if current_series %}
        <div class="article-series"><a href="{{ site.baseurl }}/"><i class="fa-solid fa-paperclip"></i>{{ current_series }}</a></div>
        {% endif %}

    </div>

    <div class="article-body">
        
        {% if page.toc %}
        <div id="toc">
            <p id="toc-title"><i class="fa-solid fa-list-ul fa-fw"></i>目次</p>
            {{ content | toc_only }}
        </div>
        {% endif %}
        
        {{ content | inject_anchors }}
        
    </div>
    
    <div class="article-footer">

        <!-- カテゴリとタグ -->
        <div class="article-categories-tags">
            <!-- カテゴリ -->
            <div class="article-categories">
                {% assign url_parts = page.url | split: '/' %}
                {% assign url_parts = url_parts | compact %}
                {% assign url_parts_depth = url_parts | size %}
                {% assign url_parts_depth = url_parts_depth | minus:1 %}
                {% assign current_url = '/' %}
                <ol class="category-list link-list">
                    {% for i in (1..url_parts_depth) %}
                        {% assign current_slug =  url_parts[i] %}
                        {% assign current_url =  current_url | append: current_slug | append: '/' %}
                
                        {% if i != url_parts_depth %}
                            <li class="breadcrumb-item">
                                <a href="{{ current_url | relative_url }}">
                                    <i class="fas fa-folder"></i>{{ site.data.slugs[current_slug] }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ol>
            </div>
            {% if page.tags %}
            <!-- タグ -->
            <div class="article-tags">
                <ul class="tag-list link-list">
                {% for tag in page.tags %}
                    <li><a href="{{ site.baseurl }}/tags/{{ tag }}"><i class="fa-solid fa-tag"></i>{{ site.data.slugs[tag] }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
        
        <!-- シリーズ -->
        {% assign current_page = page %}
        {% assign current_series = page.series %}

        {% if current_series %}
            {% assign series_pages = site.pages | where: "series", current_series | sort: "series-num" %}
            
            {% for p in series_pages %}
                {% if p.url == current_page.url %}
                {% assign current_index = forloop.index0 %}
                {% assign prev_index = current_index | minus: 1 %}
                {% assign next_index = current_index | plus: 1 %}
                
                {% if prev_index >= 0 %}
                    {% assign prev_page = series_pages[prev_index] %}
                {% endif %}
                
                {% if next_index < series_pages.size %}
                    {% assign next_page = series_pages[next_index] %}
                {% endif %}
                
                {% break %}
                {% endif %}
            {% endfor %}
            
            <h2><i class="fa-solid fa-paperclip"></i>{{ current_series }}の前後ページ</h2>
            <nav class="series-navigation">
                {% if prev_page %}
                <div class="prev-page">
                    前のページ: <a href="{{ prev_page.url | relative_url }}">{{ prev_page.title }}</a>
                </div>
                {% endif %}
                
                {% if next_page %}
                <div class="next-page">
                    次のページ: <a href="{{ next_page.url | relative_url }}">{{ next_page.title }}</a>
                </div>
                {% endif %}
            </nav>

            <h2><i class="fa-solid fa-paperclip"></i>{{ current_series }}の全ページ</h2>
            <ol>
                {% for p in series_pages %}
                <li>
                    {% if p.url == current_page.url %}
                    {{ p.title }} (現在のページ)
                    {% else %}
                    <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
        {% endif %}

        <!-- おすすめページ -->
        {% assign all_pages = site.pages | where_exp: "each_page", "each_page.title != nil" %}
        {% assign filtered_pages = all_pages | where_exp: "each_page", "each_page.url != page.url" %}
        {% assign exclude_urls = '/, /404.html, /about/, /tags/, /robots.txt, /sitemap.xml, /feed.xml' | split: ', ' %}
        {% assign filtered_pages = filtered_pages %}
        {% for url in exclude_urls %}
            {% assign filtered_pages = filtered_pages | where_exp: "page", "page.url != url" %}
        {% endfor %}

        {% assign page_count = filtered_pages | size %}
        
        {% if page_count > 3 %}
            {% assign random_pages = filtered_pages | sample: 3 %}
        {% else %}
            {% assign random_pages = filtered_pages %}
        {% endif %}
        
        <nav class="recommended-pages">
            <h2>おすすめページ</h2>
            {% for random_page in random_pages %}
                {% include blogcard.html post=random_page %}
            {% endfor %}
        </nav>

    </div>

</article>




