:root {
    /* 色 */
    --navy: #1a3260;
    --light-navy: #c2d1ee;
    --orange: #ea5506;
    --beige: #d8b888;
    --white: #fafafa;
    --gray-light: #cccdd2;
    --gray: #e7e8ea;
    --gray-deep: #747474;
    --black: #2c2c2c;
    --color-main-deep: var(--navy);
    --color-main-gray: #a4acbb;
    --color-main-light: var(--light-navy);
    --color-accent: var(--orange);
    --color-mount: var(--beige);

    /* 定数 */
    --screen-padding-tb: 20px;
    --screen-padding-lr: 25px;
    --font-size-tiny: 12px;
    --font-size-small: 14px;
    --font-size-normal: 18px;
    --font-size-large: 20px;
    --font-size-huge: 36px;
    --screen-max-width: 800px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--color-main-light);
    border-radius: 3px;
    color: var(--color-main-deep);
    font-size: var(--font-size-normal);
}

.answer-btn {
    display: inline-block;
    cursor: pointer;
    padding: 8px 30px;
    background-color: var(--color-main-light);
    border-radius: 3px;
    color: var(--color-main-deep);
    font-size: var(--font-size-normal);
    border: solid 1px var(--color-main-light);
}

.answer {
    font-weight: bold;
    display: inline-block;
    padding: 8px 30px;
    border-radius: 3px;
    color: var(--color-accent);
    font-size: var(--font-size-normal);
    border: solid 1px var(--color-accent);
}

.annotation {
    text-align: right;
    color: var(--black);
    font-size: var(--font-size-small);
    margin-top: -10px;
    margin-bottom: -15px;
}

.empha {
    font-weight: bold;
    text-decoration: underline solid var(--black) 3px;
    /* https://note.com/wordpress1234/n/nf98a776a7cf5 */
    -webkit-text-decoration: underline var(--black);
}

.underline {
    text-decoration: underline solid var(--black) 2px;
    /* https://note.com/wordpress1234/n/nf98a776a7cf5 */
    -webkit-text-decoration: underline var(--black);
}

.options {
    border: solid 1px var(--black);
    padding: 10px;
}